.jumbotron {
  background-color: #537895;
background-image: linear-gradient(315deg, #537895 0%, #09203f 74%);
  background-position: center;
  background-repeat: repeat;
  background-size: contain;
  color: white;
  padding-bottom: 10px;
  padding-top: 140px;
}

.font{
  font-family: "Quantico";
}

/*related buildings header*/
.font2{
  font-family: 'Quantico', serif;
}

.jumbotron .btn-primary {
  background: #845ac7;
  border-color: #845ac7;
}

.jumbotron .btn-primary:hover {
  background: #7646c1;
}

.jumbotron p {
  color: white;
  max-width: 75%;
  margin: 1em auto 1em;
}

.jumbotron {
  margin-top: -40px;
  margin-bottom: 0px;
}

.jumbotron .lang-logo {
  margin: auto;
  background: none;
  overflow: hidden;
}

.jumbotron .lang-logo img {
  max-width: 100%;
}


.active {
  background-color: #F0B27A;
}

.h-100 {
  height: 100% !important;
}

.w-100 {
  width: 100% !important;
}


.building .building-item {
  min-height: 420px;
  max-height: 420px;
}

.big-background{
  background: rgb(16, 2, 2);
  background-size: cover;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 25px;
  margin: auto;
  max-width: 70%;
  height: auto;
}

.main-background{
  background-color: rgb(255, 166, 88);
  border-radius: 25px;
}

.head-background{
  padding-top: 24px;
  background-color: rgb(30,141,255);
}

.building .building-item .building-item-caption {
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.2s ease-in-out;
  opacity: 0;
  background-color: rgba(55, 101, 528, 0.5);
}

.building .building-item .building-item-caption:hover {
  opacity: 1;
}

.building .building-item .building-item-caption .building-item-caption-content {
  font-size: 3rem;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

/* make edits here to specifically edit the map tab of the container */
#map {
  height: 325px;
  width: 618px;
  animation: fadeIn .5s ease-in both;
}


#buildingimg{
  opacity: 0;
  transition: 1s opacity;
  animation: fadeIn 1s ease-in both;
  margin-top: 20px;
  height: 400px;
  width: 600px;
  border-radius: 25px;
  margin-left: 25px;
  box-shadow: 0 14px 18px 0 rgba(0, 0, 0, 0.2), 0 60px 40px 0 rgba(0, 0, 0, 0.19);
  border: 5px solid white;

}

.relatedBuildingImage{
  position: absolute;
  height: 200px;
  width: 300px;
  margin-right: 10px;
  border-radius: 25px;
  cursor: pointer;
  border: 5px solid rgb(207, 201, 201);
  visibility: visible;
}

.relatedBuildingText{
  position: absolute;
  color:white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

/* left related images container */
.relatedBuildingContainer .relatedBuildingImage:hover{
  opacity: 70%;
}

.relatedBuildingContainer:hover .relatedBuildingText{
  opacity: 1;
}

.imageContainer2 .image5:hover{
  opacity: 70%;
}


#buildinfo{
  opacity: 0;
  transition: 1s opacity;
  animation: fadeIn 0.5s ease-in both;
  background-color: aliceblue;
  font-family: 'Quantico';
  font-size: 23px;
  text-align: left;
  padding-top: 2%;
  padding-left: 5%;
  padding-bottom: 2%;
  line-height: normal;
}




@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes fadeDown {
	from {
		opacity: 0;
		transform: translate3d(0, -10%, 0);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

.relatedBuildingContainer {
  position: relative;
  height: 200px;
  width: 300px;
  margin-left: 0;
  margin-right: 0;
  margin-top: 20px;

}


.tabContainer{
  width: auto;
  height: auto;
  margin-top: 20px;
  padding-right: 0%;
  padding-left: 20%;
  margin-left: 10px;

  /* margin-right: 35px; */
}

.tabContainer .buttonContainer{
  height: 15%;
}

.tabContainer .buttonContainer button {
  width: 50%;
  height: 100%;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  /* padding: 10px; */
  background-color: #eee;
  font-family: "Quantico";
  font-size: 25px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  font-weight: bold;
  width: 312px;
}

.tabContainer .buttonContainer button:hover{
  background-color: gray;
}

.tabContainer .tabPanel {
  height: 78%;
  width: 587px;
  margin-right: 18%;
  background-color: gray;
  color: white;
  /* box-sizing: border-box; */
  padding-top: 20px;
  display: none;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  box-shadow: 0 14px 18px 0 rgba(0, 0, 0, 0.2), 0 60px 40px 0 rgba(0, 0, 0, 0.19);

}

.map {
  width: 100px;
}
