<!DOCTYPE html>
<html>

<head>
  <%- include ('../partials/header') %>
</head>

<body>
  <%- include ('../partials/nav') %>
  <div style="text-align: center;">
    <title> About Page </title>
  </div>

  <div class="body">
    <div class="row">

      <div class="column1">
          <img src="/img/Alex.jpg" alt="Alex" width= 220 height= 300/>
          <img src="/img/Allie.jpg" alt="Allie" width= 220 height= 300/>
          <img src="/img/Mia.jpg" alt="Mia" width= 220 height= 300/>
      </div>

      <div class="column2">
        <img class="img4" src="/img/Rishab.jpg" alt="Rishab" width= 230 height= 300/>
        <img src="/img/Ned.jpeg" alt="Ned" width= 220 height= 300/>
        <img src="/img/Ethan.jpg" alt="Ethan" width= 220 height= 300/>
      </div>

    </div>

    <a href="http://www.devhub.virginia.edu/index" target="_blank"><img src="https://cdn-images-1.medium.com/max/277/1*FSpxii4dxAJRqSUDPlk_9g@2x.png"
      alt="Link to DevHub" style="width:80%;height:80%;"></a>


    <p class="p1"><strong>About</strong></p>
    <p class="p2"><b>Alex Kim</b></p>
    <p class="p3"><b>Allison Fowle</b></p>
    <p class="p4"><b>Mia Varghese</b></p>
    <p class="p5"><b>Rishab Gopisetti</b></p>
    <p class="p6">Software Developer</p>
    <p class="p7">Software Developer</p>
    <p class="p8">Software Developer</p>
    <p class="p9">Software Developer</p>
    <p class="p10">Team Leader</p>
    <p class="p11">Team Leader</p>
    <p class="p12"><b>Edward Rossman</b></p>
    <p class="p13"><b>Ethan Gham</b></p>
</div>

  <style>
  .img4 {
    filter: brightness(1.5);
    }

    .column1 {
      position: absolute;
      left: 21%;
      top: 13%;
    }

    .column2 {
      position: absolute;
      left: 21%;
      top: 57%;
    }

    .row img {
      margin-left: 50px;
      margin-right: 50px;
      border-radius: 50%;
    }

    a {
      position: absolute;
      bottom: 2.5%;
      left: 90%;
    }

    body {
      background-image: url(https://news.virginia.edu/sites/default/files/uva_sunrise_aerial.jpg);
      /**background-image: url(https://news.virginia.edu/sites/default/files/article_image/top_moments_header.jpg);**/
      background-size: auto;
    }

    .p1 {
      color: FloralWhite;
      position: absolute;
      font-size: 300%;
      position: absolute;
      top: 1%;
      left: 45.5%;
    }

    .p2 {
      color: FloralWhite;
      position: absolute;
      left: 27.75%;
      top: 49%;
      font-size: 130%;
    }

    .p3 {
      color: FloralWhite;
      position: absolute;
      left: 46%;
      top: 49%;
      font-size: 130%;
    }

    .p4 {
      color: FloralWhite;
      position: absolute;
      left: 65%;
      top: 49%;
      font-size: 130%;
    }

    .p5 {
      color: FloralWhite;
      position: absolute;
      left: 26.57%;
      top: 93%;
      font-size: 130%;
    }

    .p6 {
      color: FloralWhite;
      position: absolute;
      left: 26.5%;
      top: 52%;
      font-size: 100%;
    }

    .p7 {
      color: FloralWhite;
      position: absolute;
      left: 45.8%;
      top: 52%;
      font-size: 100%;
    }

    .p8 {
      color: FloralWhite;
      position: absolute;
      left: 64.8%;
      top: 52%;
      font-size: 100%;
    }

    .p9 {
      color: FloralWhite;
      position: absolute;
      left: 27%;
      top: 96%;
      font-size: 100%;
    }

    .p10 {
      color: FloralWhite;
      position: absolute;
      left: 47.5%;
      top: 96%;
      font-size: 100%;
    }

    .p11 {
      color: FloralWhite;
      position: absolute;
      left: 66.5%;
      top: 96%;
      font-size: 100%;
    }

    .p12 {
      color: FloralWhite;
      position: absolute;
      left: 45.5%;
      top: 93%;
      font-size: 130%;
    }

    .p13 {
      color: FloralWhite;
      position: absolute;
      left: 65.85%;
      top: 93%;
      font-size: 130%;
    }

  </style>
</body>

</html>
