<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Quantico&display=swap');

    body {
      font-family: 'Quantico', sans-serif;
      margin: 0;
      background-image: url(https://news.virginia.edu/sites/default/files/uva_east_rotunda_sunset_0.jpg);
      background-size: 100%;
    }

    .card {
      background-color: LightSalmon;
      border-radius: 25px;
      border-color: Navy;
    }

    .card-img-top {
      border-radius: 25px 25px 0px 0px;
    }

        /* relevant styles */
    .img__wrap {
      position: relative;
    }

    .img__description_layer {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: Navy;
      color: #fff;
      visibility: hidden;
      opacity: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 25px 25px 0px 0px;
    }

    .img__wrap:hover .img__description_layer {
      visibility: visible;
      opacity: 1;
    }

    .img__description {
      transition: .2s;
      transform: translateY(1em);
    }

    .img__wrap:hover .img__description {
      transform: translateY(0);
    }

  </style>
</head>

<body>
  <%- include ('../partials/nav') %>
  <div style="text-align: center;">
    <title> About Page </title>
  </div>

  <!-- navbar -->

  <!-- title banner-->
  <section id="title banner">
      <div class="container p-5">
        <div class="row justify-content-center">
          <div class="col-md-3 text-center text-md-start">
            <div class="card">
              <div class="card-body">
                <h1>About Us</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
  </section>

  <!-- image/description cards -->
<section id="image cards">

    <div class="container-md m-5">

      <div class="card">
        <div class="card-body">

      <div class="row row-cols-1 row-cols-md-3 g-4 justify-content-center p-1">

        <div class="col-md-2 text-start text-md-start">
            <div class="card" style="background-color: Navy; border-color: white">
              <div class="img__wrap">
                <img src="/img/Alex.jpg" class="card-img-top" alt="Alex">
                <div class="img__description_layer">
                  <p class="img__description">Information</p>
                </div>
              </div>
                <div class="card-body">
                  <h5 class="card-title text-light">Alex Kim</h5>
                  <h6 class="card-subtitle mb-2 text-light">Software Developer</h6>
              </div>
            </div>
          </div>

        <div class="col-md-2 text-start text-md-start">
          <div class="card" style="background-color: Navy; border-color: white">
            <div class="img__wrap">
              <img src="/img/Allie.jpg" class="card-img-top" alt="Allison">
              <div class="img__description_layer">
                <p class="img__description">Information</p>
              </div>
            </div>
            <div class="card-body">
              <h5 class="card-title text-light">Allison Fowle</h5>
              <h6 class="card-subtitle mb-2 text-light">Software Developer</h6>
            </div>
          </div>
        </div>

        <div class="col-md-2 text-start text-md-start">
          <div class="card" style="background-color: Navy; border-color: white">
            <div class="img__wrap">
              <img src="/img/Mia.jpg" class="card-img-top" alt="Mia">
              <div class="img__description_layer">
                <p class="img__description">Information</p>
              </div>
            </div>
            <div class="card-body">
              <h5 class="card-title text-light">Mia Varghese</h5>
              <h6 class="card-subtitle mb-2 text-light">Software Developer</h6>
            </div>
          </div>
        </div>

        <div class="col-md-2 text-start text-md-start">
          <div class="card" style="background-color: Navy; border-color: white">
            <div class="img__wrap">
              <img src="/img/Rishab.jpg" class="card-img-top" alt="Rishab">
              <div class="img__description_layer">
                <p class="img__description">Information</p>
              </div>
            </div>
            <div class="card-body">
              <h5 class="card-title text-light">Rishab Gopisetti</h5>
              <h6 class="card-subtitle mb-2 text-light">Software Developer</h6>
            </div>
          </div>
        </div>

        <div class="col-md-2 text-start text-md-start">
          <div class="card" style="background-color: Navy; border-color: white">
            <div class="img__wrap">
              <img src="/img/Ethan.jpg" class="card-img-top" alt="Ethan">
              <div class="img__description_layer">
                <p class="img__description">Information</p>
              </div>
            </div>
            <div class="card-body">
              <h5 class="card-title text-light">Ethan Gham</h5>
              <h6 class="card-subtitle mb-2 text-light">Software Developer</h6>
            </div>
          </div>
        </div>

        <div class="col-md-2 text-start text-md-start">
          <div class="card" style="background-color: Navy; border-color: white">
            <div class="img__wrap">
              <img src="/img/Ned.jpeg" class="card-img-top" alt="Ned">
              <div class="img__description_layer">
                <p class="img__description">Information</p>
              </div>
            </div>
            <div class="card-body">
              <h5 class="card-title text-light">Edward Rossman</h5>
              <h6 class="card-subtitle mb-2 text-light">Software Developer</h6>
            </div>
          </div>
        </div>

      </div>

    </div>
    </div>

    </div>
</section>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
  integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
</script>

</body>

</html>
