<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Quantico&display=swap');

    body {
      font-family: 'Quantico', sans-serif;
      margin: 0;
      background-image: url(https://news.virginia.edu/sites/default/files/uva_east_rotunda_sunset_0.jpg);
      background-size: 100%;
    }

    .card {
      background-color: LightSalmon;
      border-color: Navy;
      border-radius: 25px;
    }

    .card-img-top {
      border-top-right-radius: 25px;
      border-top-left-radius: 25px;
    }

        /* relevant styles */
    .img__wrap {
      position: relative;
    }

    .img__description_layer {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: Navy;
      color: #fff;
      visibility: hidden;
      opacity: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 25px 25px 0px 0px;
    }

    .img__wrap:hover .img__description_layer {
      visibility: visible;
      opacity: 1;
    }

    .img__description {
      transition: .2s;
      transform: translateY(1em);
    }

    .img__wrap:hover .img__description {
      transform: translateY(0);
    }

    .fa-linkedin {
      background: #007bb5;
      border-radius: 25px;
      color: white;
    }

    .fa-github {
      background: black;
      border-radius: 25px;
      color: white;
    }

    .fa {
      margin-top: 8%;
      padding-top: 6%;
      padding-bottom: 6%;
      font-size: 150%;
      width: 25%;
      text-align: center;
      text-decoration: none;
    }

    .fa:hover {
      opacity: 0.7;
    }

  </style>
</head>

<body>
  <%- include ('../partials/nav') %>
  <div style="text-align: center;">
    <title> About Page </title>
  </div>

  <!-- navbar -->
  <div class="row justify-content-left m-2">
    <a class="active" href="https://devhub.virginia.edu/" target="_blank"><img src="/uvadevLogo.png" width="70" height="40" class="rounded img-fluid" image-resolution:
      from-image alt="Responsive image">
    </a>
    <a href="/index">
      <button class="btn" type="submit" style="border-radius: 15px; background-color: LightSalmon; border-color: Black">Home</button>
    </a>
  </div>

  <!-- title banner-->
  <section id="title banner">
      <div class="container p-3">
        <div class="row justify-content-center">
          <div class="col-sm-10 col-md-6 col-lg-5 col-xl-3 text-center text-md-start">
            <div class="card" style="border-radius: 25px;">
              <div class="card-body">
                <h1>About Us</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
  </section>

  <!-- image/description cards -->
<section id="image cards">

    <div class="container-md m-4">

      <div class="card" style="border-radius: 25px;">
        <div class="card-body">

      <div class="row row-cols-sm-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-6 g-4 justify-content-center p-1">

        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-2 text-start text-md-start">
            <div class="card" style="background-color: FloralWhite; border: none">
              <div class="img__wrap">
                <img src="/img/Alex.jpg" class="card-img-top" alt="Alex">
                <div class="img__description_layer">
                  <p class="img__description text-center">
                    Alex is a second year undergraduate student at the University of Virginia pursuing a B.S. in Computer
                    Science.
                  </p>
                </div>
              </div>
                <div class="card-body">
                  <h5 class="card-title text-dark">Alex Kim</h5>
                  <p class="card-subtitle mb-2 text-secondary">Software Developer</p>
                  <a href = "mailto: ajk5qwb@virginia.edu">
                    <button class="btn btn-dark" type="submit" style="border-radius: 20px;"> Email</button>
                  </a>
                  <div>
                   <a href="https://www.linkedin.com/in/alex-kim-917bb81a5/" target="_blank"><i class="fa fa-linkedin"></i></a>
                   <a href="https://github.com/ajk3158" target="_blank"><i class="fa fa-github"></i></a>
                 </div>
              </div>
            </div>
          </div>

        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-2 text-start text-md-start">
          <div class="card" style="background-color: FloralWhite; border: none">
            <div class="img__wrap">
              <img src="/img/Allie.jpg" class="card-img-top" alt="Allison">
              <div class="img__description_layer">
                <p class="img__description text-center">
                  Allie is a third year undergraduate student at the University of Virginia pursuing a B.A. in Computer
                  Science.
                </p>
              </div>
            </div>
            <div class="card-body">
              <h5 class="card-title text-Dark">Allison Fowle</h5>
              <p class="card-subtitle mb-2 text-secondary">Software Developer</p>
              <a href = "mailto: acf6nb@virginia.edu">
                <button class="btn btn-dark" type="submit" style="border-radius: 20px;"> Email</button>
              </a>
              <div>
               <a href="https://www.linkedin.com/in/allisonfowle/" target="_blank"><i class="fa fa-linkedin"></i></a>
               <a href="https://github.com/allisonfowle" target="_blank"><i class="fa fa-github"></i></a>
             </div>
            </div>
          </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-2 text-start text-md-start">
          <div class="card" style="background-color: FloralWhite; border: none">
            <div class="img__wrap">
              <img src="/img/Mia.jpg" class="card-img-top" alt="Mia">
              <div class="img__description_layer">
                <p class="img__description text-center">
                  Mia is a second year undergraduate student at the University of Virginia pursuing a B.S. in Systems
                  Engineering.
                </p>
              </div>
            </div>
            <div class="card-body">
              <h5 class="card-title text-dark">Mia Varghese</h5>
              <p class="card-subtitle mb-2 text-secondary">Software Developer</p>
              <a href = "mailto: mev5qf@virginia.edu">
                <button class="btn btn-dark" type="submit" style="border-radius: 20px;"> Email</button>
              </a>
              <div>
               <a href="https://www.linkedin.com/in/mia-varghese/" target="_blank"><i class="fa fa-linkedin"></i></a>
               <a href="https://github.com/MiaVarghese" target="_blank"><i class="fa fa-github"></i></a>
             </div>
            </div>
          </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-2 text-start text-md-start">
          <div class="card" style="background-color: FloralWhite; border: none">
            <div class="img__wrap">
              <img src="/img/Rishab.jpg" class="card-img-top" alt="Rishab">
              <div class="img__description_layer">
                <p class="img__description text-center">
                  Rishab is a second year undergraduate student at the University of Virginia pursuing a B.S. in Aerospace
                  Engineering.
                </p>
              </div>
            </div>
            <div class="card-body">
              <h5 class="card-title text-dark">Rishab Gopisetti</h5>
              <p class="card-subtitle mb-2 text-secondary">Software Developer</p>
              <a href = "mailto: rsg4esk@virginia.edu">
                <button class="btn btn-dark" type="submit" style="border-radius: 20px;"> Email</button>
              </a>
              <div>
               <a href="https://www.linkedin.com/in/rishab-gopisetti-602752223/" target="_blank"><i class="fa fa-linkedin"></i></a>
               <a href="https://github.com/rishabg17" target="_blank"><i class="fa fa-github"></i></a>
             </div>
            </div>
          </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-2 text-start text-md-start">
          <div class="card" style="background-color: FloralWhite; border: none">
            <div class="img__wrap">
              <img src="/img/Ethan.jpg" class="card-img-top" alt="Ethan">
              <div class="img__description_layer">
                <p class="img__description text-center">
                  Ethan is a third year undergraduate student at the University of Virginia pursuing a B.S. in Computer
                  Science.
                </p>
              </div>
            </div>
            <div class="card-body">
              <h5 class="card-title text-darkt">Ethan Gham</h5>
              <p class="card-subtitle mb-2 text-secondary">Project Manager</p>
              <a href = "mailto: ethangahm@gmail.com">
                <button class="btn btn-dark" type="submit" style="border-radius: 20px;"> Email</button>
              </a>
              <div>
               <a href="https://www.linkedin.com/in/ethan-gahm/" target="_blank"><i class="fa fa-linkedin"></i></a>
               <a href="https://github.com/EthanGahm" target="_blank"><i class="fa fa-github"></i></a>
             </div>
            </div>
          </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-2 text-start text-md-start">
          <div class="card" style="background-color: FloralWhite; border: none">
            <div class="img__wrap">
              <img src="/img/Ned.jpeg" class="card-img-top" alt="Ned">
              <div class="img__description_layer">
                <p class="img__description text-center">
                  Edward is a fourth year undergraduate student at the University of Virginia pursuing a B.A. in Computer
                  Science.
                </p>
              </div>
            </div>
            <div class="card-body">
              <h5 class="card-title text-dark">Ned Rossman</h5>
              <p class="card-subtitle mb-2 text-secondary">Project Manager</p>
                <a href = "mailto: er9fa@virginia.edu">
                  <button class="btn btn-dark" type="submit" style="border-radius: 20px;"> Email</button>
                </a>
              <div>
               <a href="https://www.linkedin.com/in/ned-rossman-343a388a/" target="_blank"><i class="fa fa-linkedin"></i></a>
               <a href="https://github.com/er9fa" target="_blank"><i class="fa fa-github"></i></a>
             </div>
            </div>
          </div>
        </div>

      </div>

    </div>
    </div>
    </div>
</section>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
  integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
</script>

</body>

</html>
