<!DOCTYPE html>

<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="main.css">
  <%- include ('../partials/header') %>

</head>

<body>


  <div class="grid-container">
    <h1 class="item1" id="buildname"></h1>
    <img class="item2" id="buildingimg" src="" />

    <!--Tab Container-->
    <div class="tabContainer">
      <div class="buttonContainer">
        <button onclick="showPanel(0,'#002e63')">Building Information</button>
        <button onclick="showPanel(1,'#002e63')">Map</button>
      </div>
      <div class="tabPanel" id="buildinfo"></div>
      <div class="tabPanel" id="map"></div>
    </div>
    <!--End Tab Container-->

    <h3 class="item6">Related Buildings</h3>
    <div class="imageContainer">
      <img class="image" id="buildingimg2" src="" />
      <img class="image" id="buildingimg3" src="" />
    </div>
    <div class="imageContainer2">
      <img class="image2" id="buildingimg4" src="" />
      <img class="image2" id="buildingimg5" src="" />
    </div>

  </div>



  <script>
    var tabButtons = document.querySelectorAll(".tabContainer .buttonContainer button");
    var tabPanels = document.querySelectorAll(".tabContainer .tabPanel");

    function showPanel(panelIndex, colorCode) {
      tabButtons.forEach(function (node) {
        node.style.backgroundColor = "";
        node.style.color = "";
      });
      tabButtons[panelIndex].style.backgroundColor = colorCode;
      tabButtons[panelIndex].style.color = "white";
      tabButtons[panelIndex].style.border = "outset";



      tabPanels.forEach(function (node) {
        node.style.display = "none";
      });
      tabPanels[panelIndex].style.display = "block";
      tabPanels[panelIndex].style.backgroundColor = colorCode;
      tabPanels[panelIndex].style.border = "ridge";

    }

    showPanel(0, '#002e63');
  </script>




  <!-- Google Maps API -->
  <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
  <link rel="stylesheet" type="text/css" href="./style.css" />
  <script>
    let map;

    function initMap() {
      fetch(
        `https://8hafn7cyqb.execute-api.us-east-1.amazonaws.com/v1/facilities/id/<%= id %>`
      )
        .then((response) => {
          return response.json();
        })
        .then((data) => {
          const building = data.data[0];
          map = new google.maps.Map(document.getElementById("map"), {
            center: { lat: building.Latitude, lng: building.Longitude },
            zoom: 18,
          });
          const marker = new google.maps.Marker({
            position: { lat: building.Latitude, lng: building.Longitude },
            map: map,
          });
        })
        .catch((error) => {
          console.log(error);
        });

    }

  </script>
  <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDV73Th9So-50JtmEeGn91xpnXLw5tLwLY&callback=initMap&v=weekly"
    async></script>





  <!-- Fetching Data for Building Info -->
  <script>
    function fetchSingleBuildingData() {
      fetch(
        `https://8hafn7cyqb.execute-api.us-east-1.amazonaws.com/v1/facilities/id/<%= id %>`
      )
        .then((response) => {
          return response.json();
        })
        .then((data) => {
          const building = data.data[0];
          const html = building.Name;

          const html3 = `Address: <br/>
              Year Built: <br/>
              Square Footage: <br/>
              Type of Building: <br/>
              Location: <br/>
              Historic?: <br/>`;

          const html2 = `${building.Address}<br/>
              ${building.YearBuilt}<br/>
              ${building.SquareFootage} ft<sup>2</sup> <br/>
              ${building.Category}<br/>
              [${building.Longitude}, ${building.Latitude}] <br/>
              ${building.Historic} <br/>`;

          const html4 = `Address: ${building.Address}<br/>
          <br/>
              Year Built: ${building.YearBuilt}<br/>
              <br/>
              Square Footage: ${building.SquareFootage} ft<sup>2</sup> <br/>
              <br/>
              Type of Building: ${building.Category}<br/>
              <br/>
              Location: [${building.Longitude}, ${building.Latitude}] <br/>
              <br/>
              Historic?: ${building.Historic} <br/>`;


          const imgsrc = `/img/buildingname/${html}.jpg`;
          document.querySelector(`#buildname`).innerHTML = html;
          document.querySelector(`#buildinfo`).innerHTML = html4;

          const buildingimg = document.getElementById("buildingimg");
          buildingimg.src = imgsrc;

          renderRelatedBuildings(building.YearBuilt);

        })
        .catch((error) => {
          console.log(error);
        });





      // related building code
      function renderRelatedBuildings(YearBuilt) {
        console.log("Year Built of Current Page", YearBuilt);

        fetch(
          `https://8hafn7cyqb.execute-api.us-east-1.amazonaws.com/v1/facilities`
        )

          .then((response) => {
            return response.json();
            // console.log(response.json());
          })

          .then((data) => {

            let obj;
            let obj2;
            let obj3;
            let obj4;
            for (let i = 0; i < data.data.length; i++) {
              if (YearBuilt == data.data[i].YearBuilt) {
                obj = data.data[i + 1];
                obj2 = data.data[i + 2];
                obj3 = data.data[i + 3];
                obj4 = data.data[i + 4];

                // for (let j = 0; j < 4; j++) {
                //   console.log(data.data[i]);
                // }

              }



            }
            console.log(obj)
            console.log(obj2)
            console.log(obj3)
            console.log(obj4)

            const imgsrc2 = `/img/buildingname/${obj.Name}.jpg`;
            const objlink = `http://localhost:5000/building/${obj.BuildingId}`;
            document.getElementById("buildingimg2").onclick = function () {
              window.open(objlink, "_blank");
            }
            buildingimg2.src = imgsrc2;

            const imgsrc3 = `/img/buildingname/${obj2.Name}.jpg`;
            const obj2link = `http://localhost:5000/building/${obj2.BuildingId}`;
            document.getElementById("buildingimg3").onclick = function () {
              window.open(obj2link, "_blank");
            }
            buildingimg3.src = imgsrc3;

            const imgsrc4 = `/img/buildingname/${obj3.Name}.jpg`;
            const obj3link = `http://localhost:5000/building/${obj3.BuildingId}`;
            document.getElementById("buildingimg4").onclick = function () {
              window.open(obj3link, "_blank");
            }
            buildingimg4.src = imgsrc4;

            const imgsrc5 = `/img/buildingname/${obj4.Name}.jpg`;
            const obj4link = `http://localhost:5000/building/${obj4.BuildingId}`;
            document.getElementById("buildingimg5").onclick = function () {
              window.open(obj4link, "_blank");
            }
            buildingimg5.src = imgsrc5;


          })



      }

    }
    fetchSingleBuildingData();

    window.onload = function buildingimg() {
      window.setTimeout(buildingimg, 2000);
    }

    function buidingimg() {
      document.getElementById('buildingimg').style.opacity = '1';
    }

    window.onload = function buildinfo() {
      window.setTimeout(buildinfo, 2000);
    }

    function buildinfo() {
      document.getElementById('buildinfo').style.opacity = '1';
    }


  </script>


  <style>
    .item1 {
      grid-area: buildname;
      font-family: 'Quantico';
    }

    .item2 {
      grid-area: buildingimg;
    }

    .item3 {
      grid-area: tabContainer;
    }

    .item4 {
      grid-area: imageContainer;
    }

    .item5 {
      grid-area: imageContainer2;
    }

    .item6 {
      grid-area: h3;
      font-family: 'Quantico';
    }


    .grid-container {
      display: grid;
      grid-template-areas:
        'buildname buildname'
        'buildingimg tabContainer'
        'h3 h3'
        'imageContainer imageContainer2'
      ;

      grid-gap: 1px;
      padding: 2px;

    }

    .grid-container>div {
      /* Related buildings header */
      text-align: left;
      padding: 1px 0;
      font-size: 40px;
      font-family: 'Quantico', sans-serif;

    }

    .wrapper {
      width: 100vw;
      height: 100vh;
    }

    h1 {
      /*building name*/
      display: table;
      margin: 0px auto 0px auto;
      border-radius: 25px;
      padding: 10px;
      color: white;
      background-color: #002e63;
      text-align: center;
      font-family: 'Quantico', sans-serif;
      font-size: 80px;
      /* margin-top: 0px; */
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
    }

    body {
      /* Background with blue pic */
      background-image: url("/coolerbackground2.jfif");
      background-size: cover;
      padding-top: 10px;
      padding-bottom: 10px;
    }

    h2 {
      /*building info*/
      text-align: left;
      font-family: 'Quantico', sans-serif;
      font-weight: 900;
      color: #002e63;
      font-size: 80px;

    }

    h3 {
      /*related building info*/
      text-indent: 4%;
      text-align: left;
      font-family: 'Quantico', sans-serif;
      font-weight: 900;
      padding-top: 10px;
      padding-bottom: 10px;
      color: white;
      background-color: #042244;
      font-size: 60px;

    }

    map {
      margin-top: 2%;
      margin-left: auto;
      margin-right: auto;
      width: fit-content;
    }
  </style>
</body>

</html>