<!DOCTYPE html>

<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="main.css">
  <%- include ('../partials/header') %>

</head>

<body>


  <div class="grid-container">
    <h1 class="item1" id="buildname"></h1>
    <img class="item2" id="buildingimg" src="" />

    <!--Tab Container-->
    <div class="tabContainer item3">
      <div class="buttonContainer">
        <button onclick="showPanel(0,'#002e63')">Building Information</button>
        <button onclick="showPanel(1,'#002e63')">Map</button>
      </div>
      <div class="tabPanel" id="buildinfo"></div>
      <div class="tabPanel" id="map"></div>
    </div>
    <!--End Tab Container-->

    <h3 class="item4">Related Buildings</h3>

    <div class="relatedBuildingContainer item5" id="relatedBuilding1">
      <img class="relatedBuildingImage" id="relatedBuildingImg1" src="" />
      <p class="relatedBuildingText" id="relatedBuildingText1"></p>
    </div>

    <div class="relatedBuildingContainer item6" id="relatedBuilding2">
      <img class="relatedBuildingImage" id="relatedBuildingImg2" src="" />
      <p class="relatedBuildingText" id="relatedBuildingText2"></p>
    </div>

    <div class="relatedBuildingContainer item7" id="relatedBuilding3">
      <img class="relatedBuildingImage" id="relatedBuildingImg3" src="" />
      <p class="relatedBuildingText" id="relatedBuildingText3"></p>
    </div>

    <div class="relatedBuildingContainer item8" id="relatedBuilding4">
      <img class="relatedBuildingImage" id="relatedBuildingImg4" src="" />
      <p class="relatedBuildingText" id="relatedBuildingText4"></p>
    </div>


  </div> <!-- </div> end div grid container -->



  <script>
    var tabButtons = document.querySelectorAll(".tabContainer .buttonContainer button");
    var tabPanels = document.querySelectorAll(".tabContainer .tabPanel");

    function showPanel(panelIndex, colorCode) {
      tabButtons.forEach(function (node) {
        node.style.backgroundColor = "";
        node.style.color = "";
      });
      tabButtons[panelIndex].style.backgroundColor = colorCode;
      tabButtons[panelIndex].style.color = "white";
      tabButtons[panelIndex].style.border = "outset";



      tabPanels.forEach(function (node) {
        node.style.display = "none";
      });
      tabPanels[panelIndex].style.display = "block";
      tabPanels[panelIndex].style.backgroundColor = colorCode;
      tabPanels[panelIndex].style.border = "ridge";

    }

    showPanel(0, '#002e63');
  </script>




  <!-- Google Maps API -->
  <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
  <link rel="stylesheet" type="text/css" href="./style.css" />
  <script>
    let map;

    function initMap() {
      fetch(
        `https://8hafn7cyqb.execute-api.us-east-1.amazonaws.com/v1/facilities/id/<%= id %>`
      )
        .then((response) => {
          return response.json();
        })
        .then((data) => {
          const building = data.data[0];
          map = new google.maps.Map(document.getElementById("map"), {
            center: { lat: building.Latitude, lng: building.Longitude },
            zoom: 18,
          });
          const marker = new google.maps.Marker({
            position: { lat: building.Latitude, lng: building.Longitude },
            map: map,
          });
        })
        .catch((error) => {
          console.log(error);
        });

    }

  </script>
  <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDV73Th9So-50JtmEeGn91xpnXLw5tLwLY&callback=initMap&v=weekly"
    async></script>





  <!-- Fetching Data for Building Info -->
  <script>
    function fetchSingleBuildingData() {
      fetch(
        `https://8hafn7cyqb.execute-api.us-east-1.amazonaws.com/v1/facilities/id/<%= id %>`
      )
        .then((response) => {
          return response.json();
        })
        .then((data) => {
          const building = data.data[0];
          const html = building.Name;

          const html3 = `Address: <br/>
              Year Built: <br/>
              Square Footage: <br/>
              Type of Building: <br/>
              Location: <br/>
              Historic?: <br/>`;

          const html2 = `${building.Address}<br/>
              ${building.YearBuilt}<br/>
              ${building.SquareFootage} ft<sup>2</sup> <br/>
              ${building.Category}<br/>
              [${building.Longitude}, ${building.Latitude}] <br/>
              ${building.Historic} <br/>`;

          const html4 = `<b>Address:</b> ${building.Address}<br>
          <br>
              <b>Year Built:</b> ${building.YearBuilt}<br>
              <br>
              <b>Square Footage:</b> ${building.SquareFootage} ft<sup>2</sup> <br>
              <br>
              <b>Type of Building:</b> ${building.Category}<br>
              <br>
              <b>Location:</b> [${building.Longitude}, ${building.Latitude}] <br>
              <br>
              <b>Historic?:</b> ${building.Historic} <br>`;


          const imgsrc = `/img/buildingname/${html}.jpg`;
          document.querySelector(`#buildname`).innerHTML = html;
          document.querySelector(`#buildinfo`).innerHTML = html4;

          const buildingimg = document.getElementById("buildingimg");
          buildingimg.src = imgsrc;

          renderRelatedBuildings(building.YearBuilt);

        })
        .catch((error) => {
          console.log(error);
        });





      // related building code
      function renderRelatedBuildings(YearBuilt) {
        console.log("Year Built of Current Page", YearBuilt);

        fetch(
          `https://8hafn7cyqb.execute-api.us-east-1.amazonaws.com/v1/facilities`
        )

          .then((response) => {
            return response.json();
            // console.log(response.json());
          })

          .then((data) => {

            let obj;
            let obj2;
            let obj3;
            let obj4;
            for (let i = 0; i < data.data.length; i++) {
              if (YearBuilt == data.data[i].YearBuilt) {
                obj = data.data[i + 1];
                obj2 = data.data[i + 2];
                obj3 = data.data[i + 3];
                obj4 = data.data[i + 4];

                // for (let j = 0; j < 4; j++) {
                //   console.log(data.data[i]);
                // }

              }



            }
            // console.log(obj)
            // console.log(obj2)
            // console.log(obj3)
            // console.log(obj4)

            const imgsrc2 = `/img/buildingname/${obj.Name}.jpg`;
            const objlink = `http://localhost:5000/building/${obj.BuildingId}`;
            document.getElementById("relatedBuildingImg1").onclick = function () {
              window.open(objlink, '_self');
            }
            relatedBuildingImg1.src = imgsrc2;
            document.getElementById("relatedBuildingText1").innerHTML = obj.Name;

            const imgsrc3 = `/img/buildingname/${obj2.Name}.jpg`;
            const obj2link = `http://localhost:5000/building/${obj2.BuildingId}`;
            document.getElementById("relatedBuildingImg2").onclick = function () {
              window.open(obj2link, '_self');
            }
            relatedBuildingImg2.src = imgsrc3;
            document.getElementById("relatedBuildingText2").innerHTML = obj2.Name;

            const imgsrc4 = `/img/buildingname/${obj3.Name}.jpg`;
            const obj3link = `http://localhost:5000/building/${obj3.BuildingId}`;
            document.getElementById("relatedBuildingImg3").onclick = function () {
              window.open(obj3link, '_self');
            }
            relatedBuildingImg3.src = imgsrc4;
            document.getElementById("relatedBuildingText3").innerHTML = obj3.Name;

            const imgsrc5 = `/img/buildingname/${obj4.Name}.jpg`;
            const obj4link = `http://localhost:5000/building/${obj4.BuildingId}`;
            document.getElementById("relatedBuildingImg4").onclick = function () {
              window.open(obj4link, '_self');
            }
            relatedBuildingImg4.src = imgsrc5;
            document.getElementById("relatedBuildingText4").innerHTML = obj4.Name;


          })



      }

    }
    fetchSingleBuildingData();

    window.onload = function buildingimg() {
      window.setTimeout(buildingimg, 2000);
    }

    function buidingimg() {
      document.getElementById('buildingimg').style.opacity = '1';
    }

    window.onload = function buildinfo() {
      window.setTimeout(buildinfo, 2000);
    }

    function buildinfo() {
      document.getElementById('buildinfo').style.opacity = '1';
    }


  </script>


  <style>
    .item1 {
      /* grid-area: buildname; */
      font-family: 'Quantico';
      grid-column: 1 / span 4;
      grid-row: 1;
    }

    .item2 {
      /* grid-area: buildingimg; */
      grid-column: 1 / span 2;
      grid-row: 2;
    }

    .item3 {
      /* grid-area: tabContainer; */
      grid-column: 3 / span 2;
      grid-row: 2;
    }

    .item4 {
      /* grid-area: h3; */
      font-family: 'Quantico';
      grid-column: 1 / span 4;
      grid-row: 3;

    }

    .item5 {
      /* grid-area: relatedBuilding1; */
      grid-column: 1;
      grid-row: 4;
    }

    .item6 {
      /* grid-area: relatedBuilding2; */
      grid-column: 2;
      grid-row: 4;
    }

    .item7 {
      /* grid-area: relatedBuilding3; */
      grid-column: 3;
      grid-row: 4;
    }

    .item8 {
      /* grid-area: relatedBuilding4; */
      grid-column: 4;
      grid-row: 4;
    }




    .grid-container {
      display: grid;
      /* grid-template-areas:
        'buildname buildname buildname buildname'
        'buildingimg buildingimg tabContainer tabContainer'
        'h3 h3 h3 h3'
        'relatedBuilding1 relatedBuilding2 relatedBuilding3 relatedBuilding4'
      ; */

      /* grid-gap: 1px;
      padding: 1px; */

    }

    .grid-container>div {
      /* Related buildings image texts */
      text-align: left;
      padding: 1px 0;
      font-size: 40px;
      font-family: 'Quantico', sans-serif;

    }

    .wrapper {
      width: 100vw;
      height: 100vh;
    }

    h1 {
      /*building name*/
      display: table;
      margin: 0px auto 0px auto;
      border-radius: 25px;
      padding: 10px;
      color: white;
      background-color: #002e63;
      text-align: center;
      font-family: 'Quantico', sans-serif;
      font-size: 80px;
      /* margin-top: 0px; */
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
    }

    body {
      /* Background with blue pic */
      background-image: url("/coolerbackground2.jfif");
      background-size: cover;
      padding-top: 10px;
      padding-bottom: 10px;
    }

    h2 {
      /*building info*/
      text-align: left;
      font-family: 'Quantico', sans-serif;
      font-weight: 900;
      color: #002e63;
      font-size: 80px;
    }

    h3 {
      /*related building info header*/
      text-indent: 4%;
      text-align: left;
      width: 100%;
      font-family: 'Quantico', sans-serif;
      font-weight: 900;
      /* padding-top: 5px;
      padding-bottom: 5px; */
      color: white;
      background-color: #042244;
      font-size: 55px;

    }
  </style>
</body>

</html>