<!DOCTYPE html>
<html>
<head>
  <%- include ('../partials/header') %>
</head>

<body>

  <%- include ('../partials/nav') %>

  <div style="text-align: center;">
    <h1>UVA Buildings</h1>
  </div>


  <div class="body">
    <p>
      UVA Buildings Below!
    </p>

    <div class="grid-container"></div>
    
      <div class="item1">
        
      </div> 

    </div>
    <div>
            <table>
              <tr>
                  <th>UVA Buildings</th>
              </tr>
              <tr>
                  <td id="vehicles"></td>
              </tr>
            </table>
        </div>

  <script>


    // function createTableFromJSON() {
    //   fetch("https://8hafn7cyqb.execute-api.us-east-1.amazonaws.com/v1/facilities")
    //     .then((r) => r.json())
    //     .then((response_json_obj) => {
    //       //console.log("test");
    //       data = response_json_obj.data; //pull out list (of values) from entire json object by referencing data key
    //       let rows = [];
    //       var title1 = "Name";
    //       var title2 = "Address";
    //       var title3 = "Year Built";
    //       var title4 = "Category";
    //       rows.push([title1.bold().fontsize(4), title2.bold().fontsize(4), title3.bold().fontsize(4), title4.bold().fontsize(4)]);
          
    //       for (dat of data) {
    //         rows.push([dat.Name, dat.Address, dat.YearBuilt, dat.Category]);
    //       }
    //       let table = document.createElement("table");

    //       for (let i = 0; i < data.length; i++) {
    //         let tr = table.insertRow(-1);
    //         for (let j = 0; j < 4; j++) {
    //           let tabCell = tr.insertCell(-1);
    //           tabCell.innerHTML = rows[i][j];
    //         }
    //       }
    //       let divContainer = document.getElementById("data");
    //       divContainer.innerHTML = "";
    //       divContainer.appendChild(table);
    //     });
    // }
    // createTableFromJSON();



  </script>

<style>

.item1 {grid-area: picture;}
.item2 {grid-area: apitable;}

.grid-container {
  display: grid;
  grid-template-areas:
    'picture picture apitable apitable'
    'picture picture apitable apitable'
    'picture picture apitable apitable'
    'picture picture apitable apitable';
  grid-gap: 1px;
  padding: 1px;
}

.grid-container > div {
  text-align: center;
  padding: 1px 0;
  font-size: 12px;
}

body {
  background-image: url('https://cdn.shopify.com/s/files/1/2262/5909/products/UVA01VSabreonWhiteStep_Repeat_1024x1024@2x.png?v=1626925418')
}
h1{
  color: white;
  background-color: #002e63
}
h2{
  color: black;
  text-align: center;
}
p {
  color: black;
  text-align: center;
  font-size: 150%;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #ef7f2d
}
table{
  margin-left: auto;
  margin-right: auto;
  background-color: #b7d7e8;
  border: solid 1px;
  border-color: black;
  text-align: center
}
th{
  font-size: 150%;
  text-align: center;
  border: solid 1px;
  border-color: black;
  background-color: #b7d7e8
}
tr{
  margin-left: auto;
  margin-right: auto;
  column-gap: normal;
  border-color: black;
  border: solid 1px;
  background-color: #b7d7e8
}
</style>

</body>

</html>