<!DOCTYPE html>
<html>

<head>
  <%- include ('../partials/header') %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
<div class="font">
  <!-- Website Header -->
  <div class="jumbotron text-center">

    <!-- Website Navigation bar -->
    <div class="nav-contain justify-content-center text-center">
      <div class="topnav">
        <a class="active" href="/"><img src="/uvadevLogo.png" width="70" height="40" class="rounded img-fluid" image-resolution: from-image alt="Responsive image"></a>
        <a href="/aboutpage"><span class="glyphicon glyphicon-user"></span> About Us</a>
      </div>
    </div>


    <div class="wrapper justify-content-center text-center">
      <div class="topnav2">
        <input type="text" name="Search" id="Search" placeholder="Search" class="search">
      </div>
    </div>

    <!-- UVA logo and Title-->
    <div class="container">
      <a class="lang-logo align-items-center">
        <img src="/uvadevLogo.png" width="200" height="150" class="rounded img-fluid" image-resolution: from-image alt="Responsive image">
      </a>
      <h1><u>UVA BUILDINGS</u></h1>
    </div>


  <!-- Start of interactive building interface -->
  <section class="big-background building">
    <div class="container text-center">
      <div style="color: black;">

        <h2 class="mb-5" style="margin-right: -20px; margin-left: -25px; font-size: 2vw;"> "... architecture is my delight, and putting up, and pulling down, one of my favorite amusements." -Thomas Jefferson</h2>
      </div>
      <div class="row justify-content-center">

        <!-- Building/Button Boxes -->
        <ul id="buildingList"></ul>
        <button id ="prev" class="button">previous</button>
        <button id ="next" class="button">next</button>
      </div>
      </div>
      </div>
      </div>


<!-- Page Footer -->
  <div class="footer text-center font">
    <div class="container">
      <h2> This is a web application that simplifies information about UVA's buildings. The objective is to create a simple user interface with universal readability in terms of usage data and other general information.</h2>
    </div>
  </div>


  <script type="text/javascript">

  //initializing necessary variables
  let buildinghere = [];
  let htmlString = [];
  let htmlStrings = [];
  let i = 0;
  let s = i + 10;

  //Search Bar JavaScript
  Search.addEventListener('keyup', (e) => {
    const searchString = e.target.value.toLowerCase();
    const filteredBuildings = buildinghere.filter((building) => {
      return(
        building.Name.toLowerCase().includes(searchString) ||
        building.Address.toLowerCase().includes(searchString)
      );
    });
    i = 0;
    s = i + 10;
    displayBuildings(filteredBuildings);
  });


//Loads building information into array from API
    const loadBuildings = async () => {
      try {
        const res = await fetch('https://8hafn7cyqb.execute-api.us-east-1.amazonaws.com/v1/facilities');
        buildinghere = await res.json();
        buildinghere = buildinghere.data;
        displayBuildings(buildinghere);
      } catch (err) {
        console.error(err);
      }
    };


//Displays buildings on page
    const displayBuildings = (buildings) => {
      htmlString = buildings.map((building) => {
        return `
        <li class="col-md-6 mb-5 font2" style="list-style:none;">
          <a href="/building/${building.BuildingId}">
            <div class="building-item mx-auto">
              <img class="building-item" src="/${building.Name}.jpeg" onerror="this.src='UVABackground.jpeg'"/>
              <div class="building-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                <div class="building-item-caption-content text-center" style="color: white;"><b>
                    ${building.Name}</b> <br>
                  <p style="font-size: 70%; -webkit-text-stroke-width: 1px;"> <u style="text-decoration-color: white;"> ${building.Address} </u></p>
                </div>
              </div>
            </div>
          </a>
        </li>
        `;
      });
      y = s;
      for(let x = i; x < y; x++){
        console.log(htmlString[x]);
        if(x >=0 && x <= 9){
          htmlStrings[x] = htmlString[x];
        }
        else{
          htmlStrings[x - i] = htmlString[x];
        }
      }
      buildingList.innerHTML = htmlStrings.join('');

    };
    loadBuildings();


//Button JavaScript
    document.getElementById("prev").addEventListener("click", prev);
    document.getElementById("next").addEventListener("click", next);

    function prev() {
      if(i == 0){
        ;
      }
      else{
        i -= 10;
        s -= 10;
        displayBuildings(buildinghere);
      }
    }

    function next() {
      console.log(buildinghere);
      if(i == htmlString.length - 10){
        ;
      }
      else{
        i += 10;
        s += 10;
        displayBuildings(buildinghere);
      }
    }

  </script>

</body>

</html>
