<!DOCTYPE html>
<html>

<head>
  <%- include ('../partials/header') %>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>


  <div class="font">
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-dark py-3">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"><img src="/uvadevLogo.png" width="70" height="40" class="rounded img-fluid"
            image-resolution: from-image alt="Responsive image"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
          aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
          <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
            <li class="nav-item">
              <a class="nav-link active text-white h3" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white h3" href="/aboutpage">About Us</a>
            </li>
          </ul>
          <form class="d-flex">
            <input class="form-control me-2" type="search" id="Search" placeholder="Search" aria-label="Search">
          </form>
        </div>
      </div>
    </nav>


    <!-- Website Header -->
    <div class="jumbotron text-center">
      <!-- Website Navigation bar -->
      <!-- UVA logo and Title-->
      <div class="container">
        <a class="lang-logo align-items-center">
          <img src="/uvadevLogo.png" width="200" height="150" class="rounded img-fluid" image-resolution: from-image
            alt="Responsive image">
        </a>
        <h1><u>UVA BUILDINGS</u></h1>
      </div>


      <!-- Start of interactive building interface -->
      <section class="big-background building">
        <div class="container-fluid">
          <div style="color: black;">

            <h2 class="mb-2 text-white" style="margin-right: -20px; margin-left: -25px; font-size: 2vw;"> "...
              architecture is my delight, and putting up, and pulling down, one of my favorite amusements." -Thomas
              Jefferson</h2>
          </div>

          <!-- Building/Button Boxes -->

          <ul class="row row-cols-1 row-cols-md-2 g-4 p-3" id="buildingList"></ul>
          <div class="gap-2 col-6 mx-auto">
            <button type="button" id="prev" class="btn btn-lg bg-secondary text-white"
              style="font-size: 150%;">previous</button>
            <button type="button" id="next" class="btn btn-lg bg-secondary text-white"
              style="font-size: 150%;">next</button>
          </div>
        </div>
      </section>
    </div>
  </div>


  <!-- Page Footer -->
  <footer class="bg-dark text-center text-white font">
    <p class="mb-2 pt-4 text-white text-center"> Disclaimer: Buildings without images will feature an image of UVA
      itself.</p>
    <!-- Grid container -->
    <div class="container p-4 pb-0 py-3">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- UVA Dev Hub Button -->
        <a class="btn btn-outline-light btn-floating m-1" style="width: 5vw; height:7vh;"
          href="https://devhub.virginia.edu/" role="button">
          <svg xmlns="http://www.w3.org/2000/svg" style="width: 3vw; height:3vh; margin-top: 16%;" fill="currentColor"
            class="bi bi-globe" viewBox="0 0 16 16">
            <path
              d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm7.5-6.923c-.67.204-1.335.82-1.887 1.855A7.97 7.97 0 0 0 5.145 4H7.5V1.077zM4.09 4a9.267 9.267 0 0 1 .64-1.539 6.7 6.7 0 0 1 .597-.933A7.025 7.025 0 0 0 2.255 4H4.09zm-.582 3.5c.03-.877.138-1.718.312-2.5H1.674a6.958 6.958 0 0 0-.656 2.5h2.49zM4.847 5a12.5 12.5 0 0 0-.338 2.5H7.5V5H4.847zM8.5 5v2.5h2.99a12.495 12.495 0 0 0-.337-2.5H8.5zM4.51 8.5a12.5 12.5 0 0 0 .337 2.5H7.5V8.5H4.51zm3.99 0V11h2.653c.187-.765.306-1.608.338-2.5H8.5zM5.145 12c.138.386.295.744.468 1.068.552 1.035 1.218 1.65 1.887 1.855V12H5.145zm.182 2.472a6.696 6.696 0 0 1-.597-.933A9.268 9.268 0 0 1 4.09 12H2.255a7.024 7.024 0 0 0 3.072 2.472zM3.82 11a13.652 13.652 0 0 1-.312-2.5h-2.49c.062.89.291 1.733.656 2.5H3.82zm6.853 3.472A7.024 7.024 0 0 0 13.745 12H11.91a9.27 9.27 0 0 1-.64 1.539 6.688 6.688 0 0 1-.597.933zM8.5 12v2.923c.67-.204 1.335-.82 1.887-1.855.173-.324.33-.682.468-1.068H8.5zm3.68-1h2.146c.365-.767.594-1.61.656-2.5h-2.49a13.65 13.65 0 0 1-.312 2.5zm2.802-3.5a6.959 6.959 0 0 0-.656-2.5H12.18c.174.782.282 1.623.312 2.5h2.49zM11.27 2.461c.247.464.462.98.64 1.539h1.835a7.024 7.024 0 0 0-3.072-2.472c.218.284.418.598.597.933zM10.855 4a7.966 7.966 0 0 0-.468-1.068C9.835 1.897 9.17 1.282 8.5 1.077V4h2.355z" />
          </svg>
        </a>

        <!-- Github -->
        <a class="btn btn-outline-light btn-floating m-1" style="width: 5vw; height:7vh;"
          href="https://github.com/er9fa/IPPFA21-alpha" role="button">
          <svg xmlns="http://www.w3.org/2000/svg" style="width: 3vw; height:3vh; margin-top: 16%;" width="16"
            height="16" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
            <path
              d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z" />
          </svg>
        </a>
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2); font-family: Quantico;">
      © 2022 Copyright:
      <a class="text-white" href="https://devhub.virginia.edu/">UVA Development Hub</a>
    </div>
    <!-- Copyright -->
  </footer>

  <script type="text/javascript">

    //initializing necessary variables
    let buildinghere = [];
    let htmlString = [];
    let htmlStrings = [];
    let i = 0;
    let s = i + 10;

    //Search Bar JavaScript
    Search.addEventListener('keyup', (e) => {
      const searchString = e.target.value.toLowerCase();
      const filteredBuildings = buildinghere.filter((building) => {
        return (
          building.Name.toLowerCase().includes(searchString) ||
          building.Address.toLowerCase().includes(searchString)
        );
      });
      i = 0;
      s = i + 10;
      displayBuildings(filteredBuildings);
    });


    //Loads building information into array from API
    const loadBuildings = async () => {
      try {
        const res = await fetch('https://8hafn7cyqb.execute-api.us-east-1.amazonaws.com/v1/facilities');
        buildinghere = await res.json();
        buildinghere = buildinghere.data;
        displayBuildings(buildinghere);
      } catch (err) {
        console.error(err);
      }
    };


    //Displays buildings on page
    const displayBuildings = (buildings) => {
      htmlString = buildings.map((building) => {
        return `
        <div class="col">
        <li class="font2 card border-0" style="list-style:none; min-height: 420px; max-height:420px;">
          <a href="/building/${building.BuildingId}">
            <div class="building-item">
              <img class="building-item card-img-top" src="/img/buildingname/${building.Name}.jpg" onerror="this.src='UVABackground.jpeg'"/>
              <div class="building-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                <div class="building-item-caption-content text-center" style="color: white;"><b>
                    ${building.Name}</b> <br>
                  <p style="font-size: 70%; -webkit-text-stroke-width: 1px;"> <u style="text-decoration-color: white;"> ${building.Address} </u></p>
                </div>
              </div>
            </div>
          </a>
        </li>
        </div>
        `;
      });
      console.log(htmlString);
      y = s;
      for (let x = i; x < y; x++) {
        console.log(htmlString[x]);
        if (x >= 0 && x <= 9) {
          htmlStrings[x] = htmlString[x];
        }
        else {
          htmlStrings[x - i] = htmlString[x];
        }
      }
      buildingList.innerHTML = htmlStrings.join('');

    };
    loadBuildings();


    //Button JavaScript
    document.getElementById("prev").addEventListener("click", prev);
    document.getElementById("next").addEventListener("click", next);

    function prev() {
      if (i == 0) {
        ;
      }
      else {
        i -= 10;
        s -= 10;
        displayBuildings(buildinghere);
      }
    }

    function next() {
      console.log(buildinghere);
      if (i == htmlString.length - 10) {
        ;
      }
      else {
        i += 10;
        s += 10;
        displayBuildings(buildinghere);
      }
    }

  </script>

</body>

</html>
