<!DOCTYPE html>
<html>
<head>
  <%- include ('../partials/header') %>
</head>

<body>

  <%- include ('../partials/nav') %>

  <div style="text-align: center;">
    <h1>Hi IPP, I am Mia Varghese!</h1>
  </div>

  <div class="body">
    <p>
      I'm a second year Systems Engineering major from Richmond, VA with an
      interest in data science/finance. At UVA, I'm involved in the Data Science
      and Analytics club, WUVA News (videography and journalism), and Theta Tau.
      My hobbies include Bollywood dance, basketball, and hiking. I also enjoy
      traveling and creating videos wherever I go. Lastly, I also have a
      beagador (beagle + labrador) named Coco who I love to spend time with! I am
      very excited to work with everyone this semester!

    </p>
  </div>

<style>
body {
  background-image: url('https://cdn.shopify.com/s/files/1/2262/5909/products/UVA01VSabreonWhiteStep_Repeat_1024x1024@2x.png?v=1626925418')
}
</style>

</body>

</html>
