<!DOCTYPE html>
<html>
<head>
  <%- include ('../partials/header') %>
</head>

<body>

  <%- include ('../partials/nav') %>

  <div style="text-align: center;">
    <h1>Hi IPP, I am Mia Varghese!</h1>
  </div>

  <m>
        <img align = "right" width="420" height="600" src="https://lh3.googleusercontent.com/pw/AM-JKLW1mQqN999E0h3ZgzAjz1WhWsoKJ34VZE35gbejTmdHuaJcVsFFmO5ihbqevEtqJSA7Gj70hXIagt-Bc2iRMLEvhHo_XJWEEGitl6KcyJz2qP3xjZ97BxLRRR9cGnCSVSWVDMcP75CcyZO91WEpCjKZ0g=w650-h866-no?authuser=0"/>
      </m>

  <div class="body">
    <p>
      I'm a second year Systems Engineering major from Richmond, VA with an
      interest in data science/finance. At UVA, I'm involved in the Data Science
      and Analytics club, WUVA News (videography and journalism), and Theta Tau.
      My hobbies include Bollywood dance, basketball, and hiking. I also enjoy
      traveling and creating videos wherever I go. Lastly, I also have a
      beagador (beagle + labrador) named Coco who I love to spend time with! I am
      very excited to work with everyone this semester!

    </p>

    <h3>
    	Bus Stop Data
    </h3>

  </div>


<div id='showData'> </div>

  <script>
  <script>
    function createTableFromJSON() {
      fetch("https://api.devhub.virginia.edu/v1/transit/vehicles")
      var arrData = [];
      arrData = JSON.parse("https://api.devhub.virginia.edu/v1/transit/vehicles")

      var col = [];
      for (var i = 0; i < arrData.length; i++) {
            for (var key in arrData[i]) {
                if (col.indexOf(key) === -1) {
                    col.push(key);
                }
            }
          }

          // Create a dynamic table.
       var table = document.createElement("table");

       // Create table header.

       var tr = table.insertRow(-1);                   // Table row.

       for (var i = 0; i < col.length; i++) {
           var th = document.createElement("th");      // Table header.
           th.innerHTML = col[i];
           tr.appendChild(th);
       }

       // Add JSON to the table rows.
       for (var i = 0; i < arrData.length; i++) {

           tr = table.insertRow(-1);

           for (var j = 0; j < col.length; j++) {
               var tabCell = tr.insertCell(-1);
               tabCell.innerHTML = arrData[i][col[j]];
           }
       }

       // Finally, add the dynamic table to a container.
       var divContainer = document.getElementById("showTable");
       divContainer.innerHTML = "";
       divContainer.appendChild(table);
   };

  </script>

<style>
body {
  background-image: url('https://cdn.shopify.com/s/files/1/2262/5909/products/UVA01VSabreonWhiteStep_Repeat_1024x1024@2x.png?v=1626925418')
}

h1{
  color: white;
  background-color: #002e63
}

/* h2{
  color: black;
  text-align: left;
  margin-bottom: 20px;
} */

table {
  border: dotted;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 50px;
}

thead{
  background-color: #6cc644
}

tbody{
  background-color: #9CDAF1
}

p {
  color: black;
  text-align: center;
  font-size: 150%;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #ef7f2d
}

</style>

</body>

</html>
