<!DOCTYPE html>
<html>
<head>
  <%- include ('../partials/header') %>
</head>

<body>

  <%- include ('../partials/nav') %>

  <div style="text-align: center;">
    <h1>Hi IPP, I am Mia Varghese!</h1>
  </div>


  <div class="body">
    <p>
      I'm a second year Systems Engineering major from Richmond, VA with an
      interest in data science/finance. At UVA, I'm involved in the Data Science
      and Analytics club, WUVA News (videography and journalism), and Theta Tau.
      My hobbies include Bollywood dance, basketball, and hiking. I also enjoy
      traveling and creating videos wherever I go. Lastly, I also have a
      beagador (beagle + labrador) named Coco who I love to spend time with! I am
      very excited to work with everyone this semester!

    </p>

    <h2>
    	UVA Bus Stops
    </h2>

  </div>

  <div style="text-align: center">
    <div id="stops"></div>
  </div>

  <script>
    function createTableFromJSON() {
      fetch("https://api.devhub.virginia.edu/v1/transit/bus-stops")
        .then((r) => r.json())
        .then((data) => {
          let stops = data.stops;
          let rows = [];
          var title1 = "Name";
          var title2 = "Code";
          var title3 = "Coordinates";
          var title4 = "Type";
              rows.push([title1.bold().fontsize(4), title2.bold().fontsize(4), title3.bold().fontsize(4), title4.bold().fontsize(4)]);
          for (stop of stops) {
            rows.push([stop.name, stop.code, stop.position, stop.location_type]);
          }

          let table = document.createElement("table");

          for (let i = 0; i < stops.length; i++) {
            let tr = table.insertRow(-1);
            for (let j = 0; j < 4; j++) {
              let tabCell = tr.insertCell(-1);
              tabCell.innerHTML = rows[i][j];
            }
          }

          let divContainer = document.getElementById("stops");
          divContainer.innerHTML = "";
          divContainer.appendChild(table);
        });
    }

    createTableFromJSON();
  </script>

<style>
body {
  background-image: url('https://cdn.shopify.com/s/files/1/2262/5909/products/UVA01VSabreonWhiteStep_Repeat_1024x1024@2x.png?v=1626925418')
}

h1{
  color: white;
  background-color: #002e63
}

h2{
  color: black;
  text-align: center;
}


p {
  color: black;
  text-align: center;
  font-size: 150%;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #ef7f2d
}

script{
  text-align: center;
  background-color: #ef7f2d
}

</style>

</body>

</html>
